- content_for :page_title do
  = t('auth.login')

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f|
  %p.hint{ style: 'margin-bottom: 25px' }= t('simple_form.hints.sessions.webauthn')

  .actions
    = f.button :button, t('auth.login'), type: :submit

=javascript_pack_tag 'webauthn_session', integrity: true, crossorigin: 'anonymous'
